<!-------Company profile that appears after login-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= user.name %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <%- include ('partials/nav2') %>
    <!---for sidebar that contains edit profile,post a job,profile and logout buttons-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1" style="background: black;">
                <button type="button" class="btn btn-dark btn-block"><a href="/companyProfile"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/company"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Edit Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/postJob"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Post a Job</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/company/postedJobs"
                        style="text-decoration: none; color: rgb(255, 255, 255);">All posted Jobs</a></button>
                        <button type="button" class="btn btn-dark btn-block"><a href="/updatePassword"
                            style="text-decoration: none; color: rgb(255, 255, 255);">Update Password</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/logout"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>
            </div>



            <!---Section regarding profile starts here-->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <div class="col-md-8" id="Section2">
                <%- include ('partials/messages') %>
                <div class="row mb-5 mt-3 ml-2">
                    <div class="col-lg-8 col-md-8 col-12">
                        <img src="/image/<%= company.companyDisplay %> " class="img-fluid"></img>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 font-italic ">
                        <h2 class="text-center text-secondary">Company Information</h2>
                        <hr class="w-auto mx-auto bg-dark ">
                        </hr>
                        <div>
                            <h1 class="pt-5" style="font-size:1.5em"> Company Name : </h1>
                            <h1 style="font-size:1.25em"> <%= company.companyName %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Establishment Date : </h1>
                            <h1 style="font-size:1.25em"> <%= company.establishmentDate %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Company Head Name : </h1>
                            <h1 style="font-size:1.25em"> <%= company.companyHeadName %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            
                            </br>

                        </div>
                    </div>
                </div>


                <div style="margin-left:80px; margin-right:80px ">
                    <h1 style="font-size:1.5em"> Location : </h1>
                            <h1 style="font-size:1.25em"> <%= company.companyLocation %>, <%= company.companyCity %>,
                                <%= company.companyState %>, <%= company.companyCountry %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em">Company URL : </h1>
                            <h1 style="font-size:1.25em"> <%= company.companyUrl %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                    <h1 style="font-size:1.75em">Company Description :- </h1>
                    <p style="font-style:italic; font-size:1.25em"> <%= company.companyDescription %> </p>

                    <h1 class="mt-4" style="font-size:1.75em">Contact No :- </h1>
                    <p style="font-style:italic ; font-size:1.25em"> <%= company.contactNo %> </p>
                    <h1 class="mt-4" style="font-size:1.75em">Email Id :- </h1>
                    <p style="font-style:italic ; font-size:1.25em"> <%= company.email %> </p>
                    </p>

                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>



                    <p>
                        <a class="btn btn-dark btn-block" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Post Update
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <%- include ('partials/updates') %>
                    </div>




                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        See Posts
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="row">


                                        <% if(posts.length>0){%>

                                        <% posts.forEach(function(post){ %>

                                        <div class="container shadow p-3 mb-5 bg-white rounded"
                                            style="border:2px ; border-radius:10px;">
                                            <div class="row">
                                                <div class="col-lg-10  col-md-10 col-10 " style="font-style:italic">
                                                    <h3><%= post.title %></h3>

                                                </div>
                                                <div class="col-lg-10  col-md-10 col-10 ">
                                                    <img src="/image/<%= post.image %>" style="border-radius:20px;"
                                                        width="150px" height="150px"></img>
                                                </div>
                                                <div class="col-lg-10  col-md-10 col-10 " style="font-style:italic">
                                                    <p1><%= post.description %></p1>
                                                </div>
                                            </br>
                                        </br>
                                                <div class="col-lg-10  col-md-10 col-10 " style="font-style:italic; color: grey;" >
                                                    <p1><%= post.Date %></p1>
                                                </div>
                                                <div class="col-lg-10  col-md-10 col-10 " style="font-style:italic">
                                                    <a class="nav-link"
                                                        href="/company/delete_postedUpdate/<%= post._id %>"><i class="fas fa-trash-alt"></i></a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <% }); %>
                                    <% }else{ %>
                                    No posts yet
                                    <% } %>

                                </div>
                            </div>
                        </div>

                        
                    </div>

                </div>

            </div>
        </div>
    </div>
    <%- include ('partials/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


</html>