<!doctype html>
<html>

<head>
    <title>Company Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Company Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .companyHeading{
            color: #0083FF ;
        }
    </style>
</head>

<body>

    <body class="bg-muted">

        <%- include ('partials/nav') %>


        <div class="row mb-5 mt-3 ml-2">
            <div class="col-lg-8 col-md-8 col-12">
                <img src="/image/<%= company.companyDisplay %> " class="img-fluid"></img>
            </div>
            <div class="col-lg-4 col-md-4 col-12 font-italic ">
                <h2 class="text-center text-secondary companyHeading">Company Information</h2>
                <hr class="w-auto mx-auto bg-dark ">
                </hr>
                <div>
                    <h1 class="pt-5 companyHeading" style="font-size:1.5em"> Company Name : </h1>
                    <h1 style="font-size:1.25em"> <%= company.companyName %> </h1>
                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>
                    <h1 class="companyHeading" style="font-size:1.5em"> Establishment Date : </h1>
                    <h1 style="font-size:1.25em"> <%= company.establishmentDate %> </h1>
                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>
                    <h1 class="companyHeading" style="font-size:1.5em"> Company Head Name : </h1>
                    <h1 style="font-size:1.25em"> <%= company.companyHeadName %> </h1>
                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>
                    <h1 class="companyHeading" style="font-size:1.5em"> Location : </h1>
                    <h1 style="font-size:1.25em"> <%= company.companyLocation %>, <%= company.companyCity %>,
                        <%= company.companyState %>, <%= company.companyCountry %> </h1>
                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>
                    <h1 class="companyHeading" style="font-size:1.5em">Company URL : </h1>
                    <h1 style="font-size:1.25em"> <%= company.companyUrl %> </h1>
                    <hr class="w-auto mx-auto bg-dark ">
                    </hr>
                    </br>

                </div>
            </div>
        </div>
        <div style="margin-left:80px; margin-right:80px ">
            <h1 class="companyHeading" style="font-size:1.75em">Company Description :- </h1>
            <p style="font-style:italic; font-size:1.25em"> <%= company.companyDescription %> </p>

            <h1 class="mt-4 companyHeading" style="font-size:1.75em">Contact No :- </h1>
            <p style="font-style:italic ; font-size:1.25em"> <%= company.contactNo %> </p>
            <h1 class="mt-4 companyHeading" style="font-size:1.75em">Email Id :- </h1>
            <p style="font-style:italic ; font-size:1.25em"> <%= company.email %> </p>
            </p>
        </div>
        <br>
        <br>
        <h1 style="text-align: center; color:#0083FF;">Posted Jobs</h1>
        <br><br>
        <% if(jobs.length>0){%>

    
            <% jobs.forEach(function(job){ %>
    
            <div class="container shadow p-3 mb-5 bg-white rounded"  style="border:2px; border-radius:10px;">
                <div class="row">
                    <div class="col-lg-4  col-md-4 col-4 ">
                        <img src="/image/<%= company.companyIcon%>" style="border-radius:20px; padding: 30px;" width="200px" height="200px"></img>
                    </div>
                    <div class="col-lg-4  col-md-4 col-4 " style="font-style:italic">
                        <h1 style="font-size:1.5em; padding-bottom:5px"><%= job.jobTitle %></h1>
                        <p>Job Type : <%= job.jobType %> </p>
                        <p>Experience Required : <%= job.min_exp %> </p>
                        <p>Salary : <%= job.min_salary %> - <%= job.max_salary %></p>
                        <p>Skills Required : <%= job.jobSkills %></p>
                        <p>Minimum Qualification Required : <%= job.jobQualification %></p>
                        <p>Location: <%= job.jobLocation %>, <%= job.jobCity %>, <%= job.jobState %>, <%= job.jobCountry %></p>
                        <p>Last Application Date: <%= job.LastDate %></p>
                    </div>
                    <div class="col-lg-4  col-md-4 col-4" style="font-style:italic">
                        
                        <h1 style="font-size:1.5em; padding-bottom:5px">Job Description</h1>
                        <div class="row">
                            <div class="col-8">
                            <p><%= job.jobDescription %> </p> 
                        </div>
                        </div>
                        <% if (loggedIn&& user.userType=='developer') { %>
                        <p> <button class="btn btn-outline-success my-2 my-sm-0" ><a class="nav-link"
                            href="/developer/apply/<%= job._id %>" >Apply</a></button></p>
                        <% }%>
                             
                    </div>
                </div>
            </div>
            </br>
            <% }); %>
            <% }else{ %>
                no jobs are found
            <% } %> 
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    </body>

</html>