<!-------Developer profile that appears after login-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>developer </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

</head>

<body>
    <%- include ('partials/nav2') %>
    <!---for sidebar that contains edit profile,post a job,profile and logout buttons-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1" style="background: black;">
                <button type="button" class="btn btn-dark btn-block "><a href="/developer"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
                <button type="button" class="btn btn-dark btn-block "><a href="/developerProfile"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Edit your Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developer/allAppliedJobs"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Applied Jobs</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developerPortfolio"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Portfolio</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/developer/followings"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Following Companies</a></button>
                        <button type="button" class="btn btn-dark btn-block"><a href="/updatePassword"
                            style="text-decoration: none; color: rgb(255, 255, 255);">Update Password</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/logout"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>

            </div>



            <!---Section regarding profile starts here-->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <div class="col-md-8" id="Section2">
                <div class="row mb-5 mt-3 ml-2">
                    <div class="col-lg-8 col-md-8 col-12">
                        <%- include ('partials/messages') %>
                        <img src="/image/<%= developer.developerIcon %> " class="img-fluid"  height="200px"></img>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 font-italic ">
                        <h2 class="text-center text-secondary">Your Information</h2>
                        <hr class="w-auto mx-auto bg-dark ">
                        </hr>
                        <div>
                            <h1 class="pt-5" style="font-size:1.5em">Name : </h1>
                            <h1 style="font-size:1.25em"> <%= developer.name %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Date of Birth : </h1>
                            <h1 style="font-size:1.25em"> <%= developer.dob %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Gender: </h1>
                            <h1 style="font-size:1.25em"> <%= developer.gender %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Address : </h1>
                            <h1 style="font-size:1.25em"> <%= developer.developerLocation %>, <%= developer.developerCity %>,
                                <%= developer.developerState %>, <%= developer.developerCountry %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                            <h1 style="font-size:1.5em"> Qualification: </h1>
                            <h1 style="font-size:1.25em"> <%= developer.Qualification %> </h1>
                            <hr class="w-auto mx-auto bg-dark ">
                            </hr>
                        </div>
                    </div>
                </div>
                <div style="margin-left:80px; margin-right:80px ">
                    <h1 style="font-size:1.75em">Description :- </h1>
                    <p style="font-style:italic; font-size:1.25em"> <%= developer.description %> </p>
        
                    <h1 class="mt-4" style="font-size:1.75em">Contact No :- </h1>
                    <p style="font-style:italic ; font-size:1.25em"> <%= developer.contactNo %> </p>
                    <h1 class="mt-4" style="font-size:1.75em">Email Id :- </h1>
                    <p style="font-style:italic ; font-size:1.25em"> <%= developer.email %> </p>
                    </p>
                    <h1 class="mt-4" style="font-size:1.75em">LinkedIn :- </h1>
                    <p style="font-style:italic ; font-size:1.25em"> <%= developer.linkedIn %> </p>
                    </p>
                    <% if(exist!=0){%>
                        <div>
                         <button class="btn btn-outline-success my-2 my-sm-0"><a class="nav-link"
                             href="/developer/portfolio/<%= developer._id%>"> View your Portfolio</a></button></p>
                        </div> 
                        <%}%>
                </div>
               
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


</html>