<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">

  <title>Developer Profile</title>
</head>

<body>
  <!--Navbar imported--->
  <%- include ('partials/nav2') %>



  <!---edit profile body-->
  <div class="container-fluid">

    <div class="row">
      <!---->
      <!---->
      <!--for side nav bar-->
      <div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1" style="background: black;">
        <% if(count>0){%>
        <button type="button" class="btn btn-dark btn-block "><a href="/developer"
            style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
        <button type="button" class="btn btn-dark btn-block "><a href="/developerProfile"
            style="text-decoration: none; color: rgb(255, 255, 255);">Edit your Profile</a></button>
        <button type="button" class="btn btn-dark btn-block"><a href="/developer/allAppliedJobs"
            style="text-decoration: none; color: rgb(255, 255, 255);">Applied Jobs</a></button>
        <button type="button" class="btn btn-dark btn-block"><a href="/developerPortfolio"
            style="text-decoration: none; color: rgb(255, 255, 255);">Portfolio</a></button>
            <button type="button" class="btn btn-dark btn-block"><a href="/developer/followings"
              style="text-decoration: none; color: rgb(255, 255, 255);">Following Companies</a></button>
              <button type="button" class="btn btn-dark btn-block"><a href="/updatePassword"
                style="text-decoration: none; color: rgb(255, 255, 255);">Update Password</a></button>  
        <%}%>  
        <button type="button" class="btn btn-dark btn-block"><a href="/logout"
            style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>


      </div>
      <!---->
      <!---->
      <!---->


      <!---->
      <!---->
      <!--for edit profile form--->
      <div class="col-md-8" id="Section2">
        <h4 style="font-family:Georgia, 'Times New Roman', Times, serif">Edit Your Profile</h4>
      </br>
    </br>
   <div class="container shadow p-3 mb-5  rounded">

        <form action="/developerProfile" method="POST" enctype="multipart/form-data">
      <div class="container shadow"  style="background-color: black; color: white; border-radius: 10px;">
          <div>
          </br>
            <% if(count>0){%>
            <img src="/image/<%= developer.developerIcon %>" class="rounded-circle" width="150px" height="150px" >
            <%} else {%>
            <img src="/images/developerIcon.jpg" height="100" class="rounded-circle">
            <%}%>

            <%if(count>0){%>
              <h5 class="text-capitalize" style="color: cornflowerblue;"><%= developer.name%></h5>
            <%}%>
        
            <h6><%= user.email%></h6>
          
              </br>
            </div>
            </div>
          </br>
            <div class="custom-file">
                <h6>Upload your Profile Image</h6>
                <input type="file" data-file_types="jpg|jpeg|png" class="custom-file-input" id="file" name="file" onchange="readSingleFile(this.files)">
                <label class="custom-file-label" id="file-label" style="border-radius:10px;" for="file">Choose
                    file(png/jpeg/jpg)</label>
            </div>


          <!--to change name-->
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="name" class="form-control" id="name" name="name" aria-describedby="na" placeholder="<%=  %>"
            value="<%= typeof name != 'undefined' ? name : (count>0)? developer.name : '' %>" />
          </div>

          <div class="row">
            <!--to change dob-->
            <div class="col-md-1 col-xl-6">
              <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" aria-describedby="na" placeholder="<%=  %>"
                  value="<%= typeof dob != 'undefined' ? dob :(count>0)? developer.dob :  '' %>" />
              </div>

            </div>

            <!--to specify gender-->
            <div class="col-md-1 col-xl-6">
              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender" placeholder="<%=  %>"
                  value="<%= typeof gender != 'undefined' ? gender :(count>0)? developer.gender :  '' %>">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Others</option>
                </select>
              </div>
            </div>
          </div>



          <!---->
          <!--to change address-->
          <div class="form-group">
            <label for="developerLocation">Address</label>
            <input type="text" class="form-control" id="developerLocation" placeholder="<%= %>" name="developerLocation"
              value="<%= typeof developerLocation != 'undefined' ? developerLocation : (count>0)? developer.developerLocation : '' %>" />
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="developerCity">City</label>
              <input type="text" class="form-control" id="developerCity" name="developerCity" placeholder="<%= %>"
                value="<%= typeof developerCity != 'undefined' ? developerCity :(count>0)? developer.developerCity:  '' %>" />
            </div>
            <div class="form-group col-md-4">
              <label for="developerState">State</label>
              <input type="text" class="form-control" id="developerState" name="developerState" placeholder="<%= %>"
                value="<%= typeof developerState != 'undefined' ? developerState :(count>0)? developer.developerState: '' %>" />
            </div>
            <div class="form-group col-md-4">
              <label for="developerCountry">Country</label>
              <input type="text" class="form-control" id="developerCountry" name="developerCountry" placeholder="<%= %>"
                value="<%= typeof developerCountry != 'undefined' ? developerCountry :(count>0)? developer.developerCountry:'' %>" />
            </div>
          </div>


          <!---->
          <!---->
          <div class="form-group">
            <label for="contactNo">Phone Number</label>
            <input type="tel" class="form-control" id="contactNo" name="contactNo" aria-describedby="na"
              placeholder="<%= %>" name="contactNo"
              value="<%= typeof contactNo != 'undefined' ? contactNo :(count>0)? developer.contactNo: '' %>" />
          </div>


          <div class="row">

            <!--Qualification-->
            <div class="col-md-1 col-xl-6">
              <div class="form-group">
                <label for="Qualification">Qualification</label>
                <select class="form-control" id="Qualification" name="Qualification"
                  value="<%= typeof Qualification != 'undefined' ? Qualification :(count>0)? developer.Qualification: '' %>">
                  <option>Under-Graduate</option>
                  <option>Post-Graduate</option>
                  <option>PhD</option>
                  <option>Diploma</option>
                  <option>Others</option>
                </select>
              </div>
            </div>


            <!--for storig links-->
            <div class="col-md-1 col-xl-6">
              <div class="form-group">
                <label for="linkedIn">LinkendIn</label>
                <input type="text" class="form-control" id="linkedIn" name="linkedIn" aria-describedby="na"
                  placeholder="<%=(count>0)? developer.linkedIn: "eg:example.com"%>"
                  value="<%= typeof linkedIn != 'undefined' ? linkedIn :(count>0)? developer.linkedIn: '' %>" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control ta" id="description" rows="3" name="description"
              placeholder="<%=(count>0)? developer.description: "Write your Bio here"%>"
              value="<%= typeof description != 'undefined' ? description :(count>0)? developer.desciption: '' %>"></textarea>
          </div>


          <!--For updating-->
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>

    </div>
  </div>
  <!-------->
  <script>
    //script for changing "choose file" to file name
    function readSingleFile(e) {
      const name = e[0].name;
      document.getElementById("file-label").textContent = name;
    }

  </script>

  <!-- <script src ="../node_modules/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.replace('description');
  </script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script src="/assets/main.js"></script>

</body>

</html>